* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Newsfeed - Profile */

.vh100 {
  height: 100vh;
}

.container-flex-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.jc-between {
  justify-content: space-between;
}

.navbar-down {
  bottom: 0;
  position: fixed;
  z-index: 997;
}

.navbar-down .material-icons {
  font-size: 2em;
}

.photo {
  background-color: #F6F6F6;
  height: 30vh;
}

.photo img {
  width: 30%;
  border-radius: 100%;
}

.space {
  margin: 0.5em;
}

.content {
  margin-bottom: 5em;
}
