<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lobster|Pacifico|Passion+One" rel="stylesheet">
  <link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
  <link rel="stylesheet" href="../css/main.css">
  <title>Speak Up</title>
</head>

<body>
  <!-- Navbar -->
  <div class="navbar-high">
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper container-flex-row">
          <p>Speak Up</p>
        </div>
      </nav>
    </div>
  </div>
  <!-- Slider panel -->
  <section>
    <div class="container">
      <div class="carousel carousel-slider center" data-indicators="true">
        <div class="carousel-item orange white-text" href="#one!">
          <h2>BIENVENIDO/WELCOME!</h2>
          <br>
          <p class="white-text">
            <em>Speak up</em> es una plataforma para aprender idiomas gratuita y que permite el intercambio cultural en donde
            los usuarios enseñan, aprenden y practican idiomas.</p>
          <a class="btn waves-effect white grey-text darken-text-2">LOGIN</a>
        </div>
        <div class="carousel-item green white-text" href="#two!">
          <h2>EN TU COMPUTADORA O EN DONDE ESTES!</h2>
          <br>
          <p class="white-text">
            <em>Speak up</em> funciona tanto en tu computadora como en tu dispositivo móbil.</p>
          <a class="btn waves-effect white grey-text darken-text-2">LOGIN</a>
        </div>
        <div class="carousel-item amber white-text" href="#three!">
          <h2>CHATEA ,COMPARTE Y APRENDE!</h2>
          <br>
          <p class="white-text">Estaras siempre en contacto de tus
            <em>Speakfriends</em>. Chatea ,comparte imágenes y publicaciones.</p>
          <a class="btn waves-effect white grey-text darken-text-2">LOGIN</a>
        </div>
        <div class="carousel-item gray white-text" href="#four!">
          <h2>LOGIN</h2>
          <div class="input-field col s7">
            <input id="email" type="email" class="validate">
            <label for="email">Email</label>
          </div>
          <div class="input-field col s12">
            <input id="password" type="password" class="validate">
            <label for="password">Password</label>
          </div>
          <a class="waves-effect waves-light btn">LOGIN</a>
          <br>
          <br>
          <a class="waves-effect waves-light btn">
            <i class="fa fa-google-plus-square" aria-hidden="true"></i> Sign in with Google</a>
          <br>
          <br>
          <a class="waves-effect waves-light btn">SIGN UP</a>
          <br>
          <br>
        </div>
      </div>
    </div>
  </section>


  <!-- Menu-bottom -->
  <div class="navbar-down">
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper container-flex-row">
          <a class="material-icons">message</a>
          <a class="material-icons">home</a>
          <a class="material-icons">search</a>
          <a class="material-icons">person</a>
        </div>
      </nav>
    </div>
  </div>

  <!-- Linkeando archivos -->
  <script type="text/javascript" src="../vendors/jquery/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="../vendors/materialize/js/materialize.min.js"></script>
  <script src="../js/login.js"></script>
</body>

</html>