<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster|Pacifico|Passion+One" rel="stylesheet">    <link rel="stylesheet" href="../vendors/css/materialize.min.css">
    <link rel="stylesheet" href="../css/main.css">
    <title></title>
  </head>
  <body class="bg-login">
    <header>
			<div class="container flex vw100 #0277bd light-blue darken-3">
				<div class="row">
        	<div class="col s12 ">
          	<h1 id="speakup" class="item-flex c-white">Speake Up!</h1>
        	</div>
				</div>
			</div>	
		</header>
			<div class="carousel carousel-slider center" data-indicators="true">
					<div class="carousel-item #ffb74d orange lighten-2 white-text" href="#one!">
						<h2>Bienvenido!</h2>
						<p class="white-text"><em>Speak up</em> es una plataforma de idiomas global, gratuita y abierta y un mercado de intercambio cultural donde los usuarios enseñan, aprenden y practican idiomas.</p>
					</div>
					<div class="carousel-item amber white-text" href="#two!">
						<h2>Second Panel</h2>
						<p class="white-text">This is your second panel</p>
					</div>
					<div class="carousel-item blue white-text" href="#four!">
						<h2>LOGIN NOW!</h2>
						<img src="../assets/images/equipo.svg" alt="equipo" id="team">
						<div class="row">
							<div class="input-field col s12">
								<input id="email" type="email" class="validate">
								<label for="email">Email</label>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s12">
								<input id="password" type="password" class="validate">
								<label for="password">Password</label>
							</div>
						</div>
						<a class="waves-effect waves-light btn-large">LOGIN</a>
						<a class="waves-effect waves-light btn-large"><img src="../assets/images/google.png" alt="">Sign in with Google</a>
						<a class="waves-effect waves-light btn-large">SIGN UP</a>
					</div>
					<div class="carousel-item green white-text" href="#three!">
						<h2>Gracias!</h2>
						<p class="white-text">Ya eres parte de esta gran red social</p>
					</div>
				</div>
    </div>
    
    <!-- Linkeando archivos -->
    <script type="text/javascript" src="../vendors/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../vendors/js/materialize.min.js"></script>
    <script src="../js/login.js"></script>
  </body>