<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../css/main.css">
  <title>Chat</title>
</head>

<body>
  <!-- Navbar -->
  <div class="navbar-fixed">
    <nav class="indigo">
      <div class="nav-wrapper">
        <a class="btn-style material-icons left back">arrow_back</a>
        <h4>Messages</h4>
      </div>
    </nav>
  </div>

  <ul class="collection">
    <li class="collection-item avatar">
      <img src="../assets/images/john.jpg" alt="" class="circle">
      <span class="title">John</span>
      <p>What's up? Having a good weekend?
        <br> 05:00 pm
      </p>
      <a href="#!" class="secondary-content">
        <i class="material-icons">check</i>
      </a>
    </li>
    <li class="collection-item avatar">
      <img src="../assets/images/gordon.jpg" alt="" class="circle">
      <span class="title">Gordon</span>
      <p>How is eveything going lately?
        <br> 07:00 pm
      </p>
      <a href="#!" class="secondary-content">
        <i class="material-icons">check</i>
      </a>
    </li>
    <li class="collection-item avatar">
      <img src="../assets/images/mayra.jpg" alt="" class="circle">
      <span class="title">Mayra</span>
      <p>Hey I see you have nice pictures in your profile. Wanna talk?
        <br> 03:00 pm
      </p>
      <a href="#!" class="secondary-content">
        <i class="material-icons">check</i>
      </a>
    </li>
    <li class="collection-item avatar">
      <img src="../assets/images/martin.jpg" alt="" class="circle">
      <span class="title">Martin</span>
      <p>I'd like to learn more about your culture since I'm planning to go there for vacations.
        <br> 08:00 pm
      </p>
      <a href="#!" class="secondary-content">
        <i class="material-icons">check</i>
      </a>
    </li>
    <li class="collection-item avatar">
      <img src="../assets/images/mery.jpg" alt="" class="circle">
      <span class="title">Mery</span>
      <p>Hi! How are your classes going? Did you submit your final project?
        <br> 09:00 pm
      </p>
      <a href="#!" class="secondary-content">
        <i class="material-icons">check</i>
      </a>
    </li>
  </ul>
  <!-- Menu-bottom -->
  <div class="navbar-down">
    <div class="navbar-fixed">
      <nav class="indigo lighten-1">
        <div class="nav-wrapper container-flex-row">
          <a href="../views/messages.html" class="material-icons">message</a>
          <a href="../views/newsfeed.html" class="material-icons">home</a>
          <a href="../views/search.html" class="material-icons">search</a>
          <a href="../views/profile.html" class="material-icons">person</a>
        </div>
      </nav>
    </div>
  </div>

  <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
  <script src="../vendors/materialize/js/materialize.min.js"></script>
  <script src="../js/messages.js"></script>
</body>

</html>