<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Newsfeed</title>
  <link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../css/main.css">
</head>
<body class="high">
  <main>
    <!-- Navbar -->
    <div class="navbar-fixed">
      <nav class="indigo">
        <div class="nav-wrapper container-flex-row jc-between">
          <a href="#" class="material-icons left space">menu</a>
          <a href="#" class="brand-logo">Newsfeed</a>
          <a id="create" href="#" class="material-icons right space">create</a>
        </div>
      </nav>
    </div>
    <!-- Header -->
    <div id="input-post" class="hide">
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <textarea id="textarea1" class="materialize-textarea"></textarea>
              <label for="textarea1">¿Qué quieres compartir?</label>
              <a id="send" class="btn">Publicar</a>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- Content -->
    <div id="content" class="content">
      <div class="post">
        
      </div>
    </div>
    <!-- Menu-bottom -->
    <div class="navbar-down">
      <div class="navbar-fixed">
        <nav class="indigo lighten-1">
          <div class="nav-wrapper container-flex-row">
            <a class="material-icons">message</a>
            <a class="material-icons">home</a>
            <a class="material-icons">search</a>
            <a class="material-icons">person</a>
          </div>
        </nav>
      </div>
    </div>
  </main>
  <!-- Scripts -->
  <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
  <script src="../vendors/materialize/js/materialize.min.js"></script>
  <script src="../js/newsfeed.js"></script>
</body>
</html>