<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../css/main.css">
</head>
<body class="high">
  <main>
    <!-- Navbar -->
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <button class="btn material-icons left">menu</button>
          <a href="#" class="brand-logo">Newsfeed</a>
          <button class="btn material-icons right">create</button>
        </div>
      </nav>
    </div>
    <!-- Content -->
    <div id="content"></div>
    <!-- Menu-bottom -->
    <div class="navbar-down">
      <div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper container-flex-row">
            <a class="material-icons">message</a>
            <a class="material-icons">home</a>
            <a class="material-icons">search</a>
            <a class="material-icons">person</a>
          </div>
        </nav>
      </div>
    </div>
  </main>
  <!-- Scripts -->
  <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
  <script src="../vendors/materialize/js/materialize.min.js"></script>
</body>
</html>