<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Profile</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../css/main.css">
</head>
<body class="high">
  <main>
    <!-- Navbar -->
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper container-flex-row left">
          <a class="material-icons left">arrow_back</a>
          <h4>Perfil</h4>
        </div>
      </nav>
    </div>
    <!-- Content -->
    <div id="content">
      <div class="container">
        <div class="row">
          <div class="col s12">
            <div class="photo container-flex-row">
              <img src="../assets/images/user.svg" alt="Foto">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col offset-s1 s10">
            <div class="information">
              <div class="input-field">
                <input type="text" class="validate dropdown-button" data-activates='dropdown1'>
                <label>Sexo</label>
                <ul id='dropdown1' class='dropdown-content'>
                  <li>
                    <a href="#!" data-gender="fa fa-venus">Femenino</a>
                  </li>
                  <li>
                    <a href="#!" data-gender="fa fa-mars">Masculino</a>
                  </li>
                </ul>
              </div>
              <div class="birthday">
                <span class="fa fa-birthday-cake"></span>
                <p>Cumpleaños</p>
              </div>
              <div class="country">
                <span class="fa fa-globe"></span>
                <p>País</p>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col offset-s1 s10">
            <div class="language">
              <h5>Idiomas</h5>
              <ul>
                <li>
                  <h6>Nativo</h6>
                  <p>
                    <span>Bandera</span> Idioma</p>
                </li>
                <li>
                  <h6>Aprendiendo</h6>
                  <p>
                    <span>Bandera</span> Idioma</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col offset-s1 s10">
            <div class="biography">
              <h5>Sobre mí</h5>
              <p>Lorem ipsum dolor sit amet consecteturasdkfjaslkdfjsakdfjasatem?</p>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col offset-s1 s10">
            <div class="like">
              <h5>Me interesa</h5>
              <ul>
                <li>Topic1</li>
                <li>Topic2</li>
                <li>Topic3</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Menu-bottom -->
    <div class="navbar-down">
      <div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper container-flex-row">
            <a class="material-icons">message</a>
            <a class="material-icons">home</a>
            <a class="material-icons">search</a>
            <a class="material-icons">person</a>
          </div>
        </nav>
      </div>
    </div>
  </main>
  <!-- Scripts -->
  <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
  <script src="../vendors/materialize/js/materialize.min.js"></script>
</body>

</html>