<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Profile</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../css/main.css">
</head>
<body class="high">
  <main>
    <!-- Navbar -->
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <button class="btn material-icons left">arrow_back</button>
          <h3>Nombre</h3>
        </div>
      </nav>
    </div>
    <!-- Content -->
    <div id="content">
      <div class="photo">
        <img src="../assets/images/user.svg" alt="Foto">
      </div>
      <div class="container">
        <div class="information">
          <h5>?</h5>
          <ul>
            <li>
              <span>genero</span>
              <p>Femenino</p>
            </li>
            <li>
              <span class="fa fa-globe"></span>
              <p>Edad/cumpleaños</p>
            </li>
            <li>
              <span>mundo</span>
              <p>País</p>
            </li>
          </ul>
        </div>
        <div class="biography">
          <h5>Biografía</h5>
          <p>Lorem ipsum dolor sit amet consecteturasdkfjaslkdfjsakdfjasatem?</p>
        </div>
        <div class="language">
          <h5>Idiomas</h5>
          <ul>
            <li>
              <h6>Nativo</h6>
              <p><span>Bandera</span> Idioma</p>
            </li>
            <li>
              <h6>Aprendiendo</h6>
              <p>
                <span>Bandera</span> Idioma</p>
            </li>
          </ul>
        </div>
        <div class="like">
          <h5>Temas de interés</h5>
          <ul>
            <li>Topic1</li>
            <li>Topic2</li>
            <li>Topic3</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Menu-bottom -->
    <div class="navbar-down">
      <div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper container-flex-row">
            <a class="material-icons">message</a>
            <a class="material-icons">home</a>
            <a class="material-icons">search</a>
            <a class="material-icons">person</a>
          </div>
        </nav>
      </div>
    </div>
  </main>
  <!-- Scripts -->
  <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
  <script src="../vendors/materialize/js/materialize.min.js"></script>
</body>

</html>