<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">		
	<link href="https://fonts.googleapis.com/css?family=Lobster|Pacifico|Passion+One" rel="stylesheet">
	<link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
	<link rel="stylesheet" href="../css/main.css">
  <title>Speak Up</title>
</head>
<body>
	<!-- Navbar -->
	<div class="navbar-high">
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper indigo container-flex-row">
          <p>Speak Up</p>
        </div>
      </nav>
    </div>
	</div>
	<!-- Slider panel -->
	<section>
		<div class="container flex center-align m-top8 vh80">
			<div class="row">
				<div class="col s12">
					<h4 class="blue-text font-1">Login</h4>
				</div>
				<div class="row">						
					<div class="col s12">
						<img src="../assets/images/user.svg" class="user">
					</div>
				</div>
				<div class="row">						
					<div class="input-field col s12">
						<input id="email" type="email" class="validate">
						<label for="email">Email</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<input id="password" type="password" class="validate">
						<label for="password">Password</label>
					</div>
				</div>
				<a class="waves-effect waves-light btn">LOGIN</a>
				<br>
				<br>
				<a class="waves-effect #e0f2f1 teal lighten-5 grey-text darken-3-text waves-light btn"><i class="fa fa-google-plus-square" aria-hidden="true"></i> Sign in with Google</a>
				<br>
				<br>
				<a class="waves-effect waves-light btn">SIGN UP</a>
				</div>
			</div>
		</div>
	</section>
	<!-- Linkeando archivos -->
	<script type="text/javascript" src="../vendors/jquery/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="../vendors/materialize/js/materialize.min.js"></script>
	<script src="../js/register.js"></script>
</body>
</html>