<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../css/main.css">
  <title>Search</title>
</head>
<body class="vh100">
  <!-- Navbar -->
  <div class="navbar-fixed">
    <nav class="indigo">
      <div class="nav-wrapper">
        <a href="#" class="btn-style material-icons left back space">arrow_back</a>
        <a class="brand-logo">Buscar</a>
      </div>
    </nav>
  </div>
  <main class="container">
    <!-- Input -->
    <h5 class="center-align">Quiero practicar...</h5>
    <div class="input-field col s12">
      <select>
        <option value="0" disabled selected>Elige un idioma</option>
        <option value="1" data-icon="../assets/icon/United.png">Inglés</option>
        <option value="2" data-icon="../assets/icon/France.png">Francés</option>
        <option value="3" data-icon="../assets/icon/Italy.png">Italiano</option>
      </select>
    </div>
    <!-- Container friends -->
    <div id="container-friends" class="friend-box">
      <!-- Modal Trigger -->
      <div id="user" href="#modal1" data-target="modal1" class="modal-trigger">
      </div>
    </div>
  </main>
  <!-- Menu-bottom -->
  <div class="navbar-down">
    <div class="navbar-fixed">
      <nav class="indigo lighten-1">
        <div class="nav-wrapper container-flex-row">
          <a href="../views/messages.html" class="material-icons">message</a>
          <a href="../views/newsfeed.html" class="material-icons">home</a>
          <a href="../views/search.html" class="material-icons">search</a>
          <a href="../views/profile.html" class="material-icons">person</a>
        </div>
      </nav>
    </div>
  </div>
  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Speakfriend</h4>
      <p>Información</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Seguir</a>
    </div>
  </div>
  <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
  <script src="../vendors/materialize/js/materialize.min.js"></script>
  <scri5"../js/dat5.js"></script>
  <script src="../js/search.js"></script>
</body>
</html>